<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmitterSharp" version="1.1.1.1" />
  <package id="EngineIOSharp" version="1.0.5" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="MsgPack.Cli" version="0.4.4" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" />
  <package id="SocketIO.Core" version="3.1.2" />
  <package id="SocketIO.Emitter" version="1.0.1" manuallyInstalled="true" />
  <package id="SocketIO.Serializer.Core" version="3.1.2" />
  <package id="SocketIO.Serializer.NewtonsoftJson" version="3.1.2" manuallyInstalled="true" />
  <package id="SocketIO.Serializer.SystemTextJson" version="3.1.2" />
  <package id="SocketIOClient" version="3.1.2" manuallyInstalled="true" />
  <package id="SocketIOSharp" version="2.0.3" manuallyInstalled="true" />
  <package id="SocketIoClientDotNet" version="0.9.13" manuallyInstalled="true" />
  <package id="StackExchange.Redis" version="1.0.297" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.4" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" />
</packages>